
/* paleta de cores

.color1 { #fdefb0 };
.color2 { #e7a8b1 };
.color3 { #b998b3 };
.color4 { #77779d };
.color5 { #4771a3 };

*/

/*Estilização de cabeçalho*/

header{
    background-color: #fdefb0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    width: 90vw;
    margin:0;
}

.headerSymbol{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerItems{
    display: flex;
    align-items: center;
}

.headerItems a {
    margin-right: 2vw;
    color: black;
    text-decoration: none;
}

/*Estilização do Corpo da Página*/

section {

    background-color: #e7a8b1;
    height: 80vh;

}

/* Estilização do Rodapé da Página*/
footer {
    background-color: #fdefb0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
